<p style="color: blue; font-size: 12px;">
</p>


    <link rel="stylesheet" type="text/css" href="mysite.css"/>

    <link rel="stylesheet" type="text/css" href="http://mysite.ru/main.css"/>


div
{
    color:red;
    margin-left: 10px;
    margin: 5px 10px 20px 30px;

    background-color:#aad0c1;
    background-image: url(http://favion.yandex.net/favicon/ru.wikipedia.org);
    background-repeat: repeat-x;
    background-position: 50%;
    /*тоже самое*/
    background:#ccc url(http://favicon.yandex.net/favicon/ru.wikipedia.org)
    50% repeat-x;
    border-radius: 3px 12px;
    with: 100px;
}


#id
<style>
 p {color: black;}
#super {color: green;}
</style>

  .class
  <style>
   p{color:black;}
   .success{color:green;}
   .big{font-size:12px}
   </style>
